Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

Local Environment Variables
Exclude all .env files from Git to protect sensitive keys.
Use .env.example to show developers which variables are needed.
.env
.env.*
!.env.example

Next.js build output
.next/
/out/

Production builds
/build

Other
.DS_Store
*.pem
*.log


# Node / Next.js
frontend/node_modules
frontend/.next
frontend/out
frontend/.env.local

# Python
backend/venv
backend/__pycache__
backend/*.pyc

# IDE / OS
.DS_Store
.vscode/